#banner{
  width:305px;
  height:400px;
  overflow:hidden;
  position:relative;
  top:100px;
  left:150px;
}
#ul-imgs{
  list-style:none;
}
#ul-imgs.transition{
  transition:all .5s linear;
}
#ul-imgs>li{
  width:305px;
  float:left;
}
#ul-imgs img{
  width:305px;
}
#ul-idxs{
  width:100px;
  margin:0 auto;
  list-style:none;
  position:absolute;
  bottom:10px;
  left:70%;
}
#ul-idxs>li{
  float:left;
  width:10px; 
  height:10px;
  background-color:#fff;
  border-radius:5px;
  margin:0 5px;
  cursor:pointer;
}
#ul-idxs>li.active{
  background-color:black;
}
#btn-left,#btn-right{
  width:60px;
  height:60px;
  text-align: center;
  font-size: 50px;
  position:absolute;
  top:50%;
  margin-top:-30px;
  cursor:pointer;
}
#btn-left{
  left:0px;
}
#btn-right{
  right:0px;
}
